.inner-card{
    border-radius: 3px;
    border: 2px solid #e6e6e6;
    background-color: #fff;
    margin-bottom: 60px;
    margin-left : 25%;
    margin-right: 25%;
    margin-top:3%; 
    /* margin:26px auto; */
}
.ca-img{
    width: 100%;
   height: auto;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}
h5 {
    font-size:1.7em;
    font-weight:50px ;
    margin-left:10px;
  }
  h6 {
    font-size:1.4em;
    font-weight:normal ;
  }
  .card-content{
      margin:10px;
  }
  